# Gemini API key (server-side, required)
GEMINI_API_KEY="AIzaSyAfSNerBjX2pQ1evwyldyNjsuNul94jC0M"

# Stripe API keys
STRIPE_SECRET_KEY="sk_test_51TBVUlEBJCpS5Oud3LKwYd7lMghbxAeFbZ4KdR8VU1hJks0vj9dihaFICXc52iR1j1MRH4ZEYk8qbSmJI1TW62eX00zKD6KJ3z"
VITE_STRIPE_PUBLISHABLE_KEY="pk_test_51TBVUlEBJCpS5OudDzrmGdWpIhnSEuduHXjolt5uuSWrz655sQyD3j8EQUcdjBBVPlVKFCaAockNW1Rih3qzmRcT004DRG2L18"

# Public app URL for Stripe redirect (recommended in Vercel)
APP_URL="https://final-project-p7n61y7xs-khudeatharv-5894s-projects.vercel.app/"
